.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 10px;
}

.comments .profile {
    display: flex;
    padding: 0;
}

.comments .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.comments .profile .content-drawer h4 {
    font-weight: bold;
    font-size: 14px;
}

.comments .profile .content-drawer {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin-right: 10px;
    word-break: break-all;
}

.comments .profile .content-drawer::after {
    content: '';
    width: 100%;
    display: block;
    border: 0.5px solid rgba(146, 143, 143, 0.5);
}

.comments .profile .content-drawer h4 span {
    font-weight: 300;
    font-style: italic;
}

.ant-input::placeholder {
    color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}
