.story {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.story img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.story p {
    padding-top: 2px;
    font-size: 8px;
    text-align: center;
}

@media (max-width: 1300px) {
    .story img {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 1000px) {
    .story img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .story img {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 500px) {
    .story img {
        width: 40px;
        height: 40px;
    }
    .story p {
        padding-top: 4px;
        font-size: 6px;
        text-align: center;
    }
}
