.footer-side {
    color: #fff;
    padding: 10px 6px 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 0;
    height: fit-content;
    top: 70px;
    width: fit-content;
}

.footer-side .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile-img p {
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    height: 60px;
    font-weight: 600;
}
.profile-img p em {
    font-size: 12px;
    font-weight: 300;
}

.footer-side .profile-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),
        0 0 10px 0 rgb(255, 255, 255, 0.7), 0 0 20px 0 rgb(0, 0, 0, 0.4);
}

.footer-side .profile button {
    background-color: transparent;
    color: var(--txt);
}

.footer-side .friends {
    width: fit-content + 20px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.footer-side .friends ul {
    width: 100%;
    height: 100%;
}

.friends ul .title,
.friends ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.friends ul li a {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: max-content;
}

.friends ul .title p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.friends ul .title a {
    font-size: 12px;
}

.footer-side .real-footer ul {
    display: flex;
    width: 300px;
    gap: 4px;
}

.footer-side .real-footer ul li {
    flex-wrap: wrap;
    font-size: 12px;
    margin: 0;
    margin-right: 4px;
    width: 100%;
    text-align: end;
    line-height: 1.5;
    font-weight: 300;
}

.footer-side .copyright {
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}

@media (max-width: 1072px) {
    .footer-side {
        display: none;
    }
}
