.post-image {
    width: 300px;
    height: 300px;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
    gap: 15px;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: fit-content;
    opacity: 0;
}

.explore-layout:hover {
    opacity: 1;
}
