.register-form {
    width: 550px;
    background-color: rgba(0, 0, 0, 0.753);
    border-right: 0.5px solid rgb(0, 0, 0, 0.8);
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    position: absolute;
    backdrop-filter: blur(3px);
    position: relative;
    padding: 40px 50px;
}

.register-form h1,
.register-form p {
    color: #ffff;
    padding: 5px;
}

.register-form h1 {
    padding-top: 30px;
    font-weight: bold;
}

.register-form p {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 200;
}

.register-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.register-form input,
.register-form textarea {
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    color: #ffff;
    transition: 0.5s;
    width: 100%;
}

.register-form textarea {
    resize: none;
    padding: 25px;
}

.register-form form input::placeholder {
    color: rgb(255, 255, 255, 0.5);
    font-style: italic;
}

.register-form form input:focus {
    box-shadow: 0 0 1px 0 rgb(255, 255, 255, 0.5),
        0 0 10px 0 rgba(255, 255, 255, 0.5), 0 0 20px 0 rgb(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.register-form form button {
    padding: 15px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 40px;
}

.register-form form button:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: #010101;
}

.form-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-top: -25px;
    border-radius: 50%;
}

.form-image input {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(35px);
    opacity: 0;
    cursor: pointer;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.register-button button {
    width: 100%;
}

@media (max-width: 768px) {
    .register-form {
        width: 100%;
    }
    .register-form h1 {
        font-size: 50px;
    }
}

@media (max-width: 375px) {
    .register-form {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 35px 20px;
    }
}
