body {
    background-color: rgb(27, 27, 27);
    /* height: 1000px; */
    width: 100%;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #272822;
    margin: 120px 10px;
    padding: 20px;
    border-radius: 30px;
    transition: .3s ease;
    height: 250px;
    text-align: center;
    display: wrap;
}

header:hover {
    box-shadow: 0 0 .6px 0 rgb(255, 255, 255), 0 0 10px 0 rgb(255, 255, 255);
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    justify-content: center;
    width: 140px;
    margin: auto;
    padding: 5px;
    background-color: transparent;
    transition: .3s linear;
    border: none;
    font-family: "Quicksand", sans-serif;
    /* animation: slideRight 1.5s linear forwards ; */
}

.card img {
    width: 100%;
    height: 200px;
    opacity: 0.8;
    transition: .3s ease;
}

.card img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.card:hover {
    box-shadow: 0 0 .6px 0 rgb(0, 0, 0), 0 0 10px 0 rgb(0, 0, 0);
}

.bodyCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 35px;

}

.bodyCard2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin: 0;
}

.bodyCard2 a {
    display: flex;
    /* position: absolute; */
    /* background-color: yellow; */
    bottom: 0;
    margin: 4px -4px;
    border: none;
}

.bodyCard2 img {
    display: flex;
    position: sticky;
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 35px;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255, 0.7);
    /* margin: auto -10px ; */
}

.bodyCard2 em {
    /* top: 0; */
    color: #ffffff;
    /* background-color: yellowgreen; */
    margin: auto -7px;
    font-size: 9px;
    font-weight: 700;
    max-width: 80px;
    padding-left: 2px;
}


.card p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
}

.card button {
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    transition: .2s ease;
}

.card button:hover {
    background-color: rgb(255, 255, 255);
    color: #010101;
}

.home-page {
    margin: -50px 300px;
    /* padding: 20px; */
    border-radius: 10px;
}

.home-content {
    background-color: #272822;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}


.head-content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head-content img {
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
}

.head-content h6 {
    align-items: center;
    padding-bottom: 7px;
    margin: auto 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.301);
    width: fit-content;
}

.head-content h6>span {
    font-size: 10px;
    font-weight: 100;
}

.head-content svg {
    width: 20px
}

.body-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.body-component ul {
    display: flex;
    gap: 30px;
}

.body-component ul>li>a>svg {
    width: 30px;
}

.body-component ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #ffffff;
}



@media(max-width: 600px) {
    body {
        width: 100%;
    }

    header {
        /* padding: 50px; */
        max-height: 80px;
        /* background-color: white; */
        position: relative;
        display: flex;
        justify-content: center;
        margin: 90px 0px;
        padding: 0;
    }


    .cardContainer {
        width: 420px;
    }

    .cardContainer .card {
        /* background-color: ye/llow; */
        border-radius: 50%;
        margin: auto 0px;
    }

    .cardContainer .card img {
        height: 100%;
        border-radius: 50%;
        margin: auto 0px;
        
    }
    .bodyCard{
        display: flex;
        margin: 0px auto;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        justify-content: center;
    }
    .bodyCard p{
        display: none;
    }
    .bodyCard2{
        display: none;
    }
    .bodyCard button{
        display: inline-block;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 20px;
    }
    .bodyCard button:hover{
        background-color: transparent;
        color: #ffffff;
    }

    section{
        /* display: none; */
        display: flex;
        justify-content: center;
        /* background-color: yellowgreen; */
    }
    .body-component {
        display: block;

}

@media(max-width :768px) {
    header {

        height: 200px;
    }
}

/* animation */

@keyframes slideRight {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
        /* background: rgba(71, 93, 50, 0.479);
        opacity: 1; */
    }
}