.main-page {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-list-friends {
    background-color: #272822;
    margin: 200px 90px;
    padding: 20px;
    border-radius: 30px;
    transition: .3s ease;
    text-align: center;
    display: wrap;
}


.logo-pack {
    display: flex;
    padding: 10px;
}

.logo-pack svg {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.list {
    display: flex;
    gap: 15px;
    padding: 8px;
}

.list-friends .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.list-friends-item {
    display: flex;
    align-items: center;
    line-height: .5;
    padding: 10px;
    width: 500px;
    border: 1px solid #ffffff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px;
}

.list-friends img {
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.list-friends-item-name h3 {
    width: 100px;
    font-size: 20px;
    padding-left: 12px;
    font-weight: 600;
}

.list-friends-item-name>p {
    font-size: 12px;
    padding-left: 15px;
    font-weight: 300;
}

.list-friends-item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    width: 400px;
}

.btn-popover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.btn-popover p {
    font-size: 13px;
    margin: auto;
    padding-bottom: 7px;
    text-align: center;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu a {
    color: #010101;
    font-weight: 300;
    font-size: 13px;
}

.pagination .page-link {
    color: white;
    background-color: transparent;

}

.pagination .page-link:hover {
    background-color: #010101
}

.pagination .page-item.active .page-link {
    background-color: #010101;
    border-color: #010101;
}

@media (max-width: 600px) {
    .container-list-friends {
        margin: 200px 20px;
        padding: 10px;
    }

    .list-friends .row {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

   
    .logo-pack h1 {
        font-size: 20px;
        padding: 5px;
        margin: auto 0px;
    }

    .list-friends-item-info {
        /* background-color: yellowgreen; */
        display: flex;
        padding: 0px;
    }

    .list-friends img {
        width: 100%;
    }

    .list-friends-item-name h3 {
        width: 100%;
        font-size: 18px;
    }

    .list-friends-item-name>p {
        font-size: 10px;
    }
    .list-friends-item {
        width: 300px;
    }
}