.bg{
    padding: 0;
    display: block;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
}

.login  {
    background-image: url("https://th.bing.com/th/id/OIG2.rAcBPbuRsjw_IhKNo23u?w=1024&h=1024&rs=1&pid=ImgDetMain");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}


.container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5),0 0 10px 0 rgb(0, 0, 0, .7),0 0 20px 0 rgb(0, 0, 0, .4);
    border-radius: 30px;
    backdrop-filter: blur(8px);
    position: fixed;
    animation: bounce 2.5s ease normal forwards;

}

.logo{
    background-color: #e8f3ff;
    border-radius: 50%;
    padding: 10px;
    width: 130px;
    height: 130px;
    margin-top: -400px;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),0 0 10px 0 rgb(255, 255, 255, .7),0 0 20px 0 rgb(0, 0, 0, .4); 
}

.logo svg{
    width: 100px;
    color: #010101;
}

.container form{
    background-color: rgb(214, 213, 213);
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    margin: auto;
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 80px;
    padding-top :50px;
    color: #010101;
    width: 500px;
    height: 450px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),0 0 10px 0 rgb(255, 255, 255, .7),0 0 20px 0 rgb(0, 0, 0, .4) ;

}

.container form label{
    margin-left: 60px;
}

.container form .form-control{
    width: 350px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    color: #010101;
    outline: none;
    /* z-index: 2; */
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),0 0 10px 0 rgb(255, 255, 255, .7),0 0 20px 0 rgb(0, 0, 0, .4);
}

.form-check-input{
    width: 20px;
    height: 20px;
    /* margin-left: 60px; */
}

.form-check-input:checked{
    margin-left: 40px;
    padding: 5px;
}

.form-check p{
    padding-left:70px;
    padding-top: 3px;
}

#register{
    font-size: 15px;
    margin-left: 60px;
}

.alert{
    margin-left: 140px;
    /* padding-top: 50px; */
    /* margin-bottom: -5px; */
} 

.container button{
    width: 350px;
    height: 80px;
    margin-left: -180px;
    margin-top:330px ;
    border: 1px solid rgb(255, 255, 255, .2);
    border-radius: 30px;
    padding-top :40px;
    background-color: rgb(214, 213, 213);
    color: #010101;
    outline: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),0 0 10px 0 rgb(255, 255, 255, .7),0 0 20px 0 rgb(0, 0, 0, .4);
}

.backButton{
    margin: 10px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgb(214, 213, 213);
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255),0 0 10px 0 rgb(255, 255, 255, .7),0 0 20px 0 rgb(0, 0, 0, .4);
    outline: none;
    cursor: pointer;
}

.backButton a{
    color: #010101;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

@keyframes bounce {
    0% {
        transform: scale3d(0, 0, 0);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
 


