.profile-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1px;
    padding: 0;
}

.profile-card .card-img {
    width: 30%;
}

.profile-card .card-img img {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ffff;
    object-fit: cover;
    object-position: center;
}

.profile-card .card-img .loading-profile {
    animation: loadingEffect 1s infinite;
}

.profile-card .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.profile-card .card-info .info-title {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-card .card-info .info-title p {
    color: #ffff;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.profile-card .card-info .info-title button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #ffff;
    cursor: pointer;
}

.profile-card .card-info .info-content {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-top: 10px;
}

.profile-card .card-info .info-content p {
    color: #ffff;
    margin: 0;
    font-size: 15px;
}

.profile-card .card-info .info-content span {
    font-size: 20px;
    font-weight: bold;
}

.profile-card .card-info .info-desc {
    width: 70%;
    align-items: center;
    margin-top: 25px;
    font-weight: 300;
}

.profile-card .card-info .info-desc h6 {
    font-size: 15px;
    font-weight: bold;
}
.profile-card .card-info .info-desc a {
    font-style: italic;
}

@media (max-width: 1500px) {
    .profile-card {
        padding-left: 10%;
    }
    .profile-card .card-img img {
        width: 180px;
        height: 180px;
    }

    .profile-card .card-info .info-title {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .profile-card .card-img img {
        width: 120px;
        height: 120px;
    }

    .profile-card .card-info .info-title {
        width: 100%;
        padding-right: 20px;
    }

    .profile-card .card-info .info-content {
        width: 100%;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .profile-card {
        padding: 10px 0 0 20px;
    }
    .profile-card .card-img img {
        width: 120px;
        height: 120px;
    }
    .profile-card .card-info .info-title {
        width: 85%;
    }

    .profile-card .card-info .info-content {
        width: 85%;
    }

    .profile-card .card-info .info-desc {
        width: 85%;
    }

    .profile-card .card-info .info-title p {
        font-size: 15px;
    }

    .profile-card .card-info .info-title button {
        font-size: 10px;
        padding: 4px 6px;
    }
}

@media (max-width: 425px) {
    .profile-card {
        padding: 10px;
    }

    .profile-card .card-info {
        width: 80%;
    }

    .profile-card .card-img {
        width: 20%;
        margin-right: 25px;
    }

    .profile-card .card-info .info-title {
        padding-right: 5px;
        width: 100%;
    }

    .profile-card .card-info .info-content {
        width: 100%;
    }

    .profile-card .card-info .info-desc {
        width: 100%;
    }

    .profile-card .card-info .info-title p {
        font-size: 12px;
    }

    .profile-card .card-info .info-title button {
        font-size: 8px;
        padding: 4px 6px;
    }

    .profile-card .card-img img {
        width: 85px;
        height: 85px;
    }

    .profile-card .card-info .info-content {
        width: 100%;
    }

    .profile-card .card-info .info-content p {
        font-size: 12px;
    }
    .profile-card .card-info .info-desc a {
        font-size: 12px;
        font-style: italic;
    }
}

@keyframes loadingEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
